body {
    font-family: 'Open Sans', sans-serif;
    /*  텍스트 드레그 막기
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    */
 }
 
 a {
    color: white;
 }

 a:hover {
    text-decoration: none;
    color: white;
 }

 .btn {
    padding: 0;
 }

 .navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
 }

#home {
    position: relative;
    background-image: url(./img/homebg.jpg);                                                               
    height: 100vh;
    background-size: cover;
}

#hometext {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);                                                                   
    color: white;
    z-index: 2;
    text-align: center;
}

.homeimg-cover {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);                                                                 
    z-index:1;
}

#startbtn {
    position: absolute;
    top:80%;
    left:50%;
    transform: translate(-50%, -50%);                                                                   
    font-size:5rem;
    color: white;
    z-index: 2;
    text-align: center;
}

#viewworksbtn {
    border: 1.5px solid white;
    color: white;
    font-size: 22px;
    margin-right: -15px;
}

.material-icons{
    font-size: 18px;
}

#viewworksbtn:hover {
    background-color: #22a6b3;
    border: 1.5px solid #22a6b3;
}
#viewworksbtn span {
    position: absolute;
    top: 52%;
    left: 93%;
    transition-duration: 0.3s;
}

#viewworksbtn span:hover {
    transition-duration: 0.3s;
}

#viewworksbtn a {
    padding: 10px 40px 10px 25px;
    display: block;
}

.rotate {
    transform: rotate(90deg);
}

#navbar {
    background-color: #1B242F;
    position: fixed;
    top: -600px;
    width: 100%;
    display: block;
    transition: top 0.6s;
    border-bottom: 3px solid #22a6b3;
    z-index:1;
  }
  
.nav-item a:hover {
      color: #22a6b3;
  }

#about-wrapper {
    width: 100%;
    text-align: center;
    height: 250px;
}

 #every-title {
     font-family: 'Roboto', sans-serif;
     color: #444649;
     font-size : 40px;
     position: relative;
     padding-top: 100px;
     display: inline-block;
     border-bottom: 3px solid #444649;
 }

 #about-profile {
    height: 285px;
    width: 100%;
    margin: 0 auto;
 }

 #about-profile .about-myprofile {
    width: 250px;
    float: left;
    margin-right: 25px;
    margin-top: -30px;
}

 #about-profile .about-introduce {
    width: 100%;
    height: 270px;
    text-align: center;
    font-size: 20px;
}

.about-introduce .introduce-name {
    font-size: 20px;
}

.about-introduce .text-highlight {
    color: #009ADA;
}

.about-myprofile > .mypicture {
    width: 100%;
}

.about-myprofile > .whoami {
    font-family: 'Roboto', sans-serif;
    color: #616161;
    font-size: 25px;
    text-align: center;
}

.mypicture img {
    width: 100%;
    height: 100%;
}

#about-skill {
    width: 100%;
    text-align: center;
    height: 900px;
}

#about-skill > .skill-wrapper {
    width: 75%;
    height: 750px;
    position: relative;
    display: inline-block;
    margin-top: 10px;
}

.skill-wrapper > .skill-box {
    margin-bottom: 10px;
    box-shadow: 2px 2px 6px grey;
    width: 100%;
    height: 150px;
}

.skill-wrapper > .skill-box > .skill-img {
    width: 23%;
    margin-left: 0;
    float: left;
    padding-top: 15px;
}

.skill-wrapper > .skill-box > .skill-img > img {
    margin: 0 auto;
    max-height: 100px;
    padding-bottom: 10px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.skill-box .skill-img-mysql {
    padding-top: 5px;
    width: 23%;
    margin-left: 0;
    float: left;
    padding-top: 10px;
}

.skill-box .skill-img-mysql > img {
    width: 60%;
    padding-top: 11px;
    padding-bottom: 35px;
    margin: 0 auto;
    max-height: 100px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

/* portfolio */
#portfolio {
    background-color:#f5f5f5;
}

#portfolio > .wrapper-portfolio {
    width: 100%;
    text-align: center;
}

#portfolio .filter {
    width: 100%;
}

  .active {
    border: 3px solid #009ADA;
    color: black;
  }

  #portfolio .wrapper-portfolio {
    width: 100%;
    text-align: center;
    height: 250px;
  }

  #filter-btn {
      text-align: center;
      padding-bottom: 20px;
  }

  #filter-btn > button {
    font-size: 20px;
    margin-right: 25px;
    border-radius: unset;
    margin-left: 25px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .filter .filter-container .filterDiv {
    float: left;
    border: 1px solid gray;
    color: #000000;
    width: 33%;
    height: 280px;
    line-height: 100px;
    text-align: center;
    display: none;
  }

  .filter .filter-container {
    height: 700px;
  }
  
  .show {
    display: block !important;
  }

  svg {
      margin-top: -100px;
  }

  #contact {
      margin-top: -15px;
      background-color: #252934;
  }

  #contact > .contact-wrapper {
      width: 100%;
      height: 700px;
      text-align: center;
  }

  #contact .contact-title {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size : 40px;
    position: relative;
    padding-top: 100px;
    display: inline-block;
    border-bottom: 3px solid #fff;
  }

  #contact .contact-hightlight {
    font-weight: 600;
    color: #04C2C9;
    padding-top: 35px;
    padding-bottom: 35px;
  }

  #contact .contact-form {
    margin-top: 30px;
    width: 50%;
    margin: 0 auto;
  }

  #contact .contact-form input {
    background-color: #1E242C;
    border: 1px solid #1E242C;
    width: 450px;
    height: 40px;
    font-size: 16px;
    color: white;
    margin-bottom: 5px;
  }

  #contact .contact-form textarea {
    background-color: #1E242C;
    border: 1px solid #1E242C;
    width: 450px;
    height: 150px;
    font-size: 16px;
    color: white;
  }

  #contact .contact-form .button {
    border: 2.5px solid #fff;
    width: 120px;
    height: 45px;
    margin-top: 5px;
    transition-duration: 0.5s;
    cursor: pointer;
  }

  #contact .contact-form .button:hover {
    background-color: #22a6b3;
    border: 1.5px solid #22a6b3;
    transition-duration: 0.5s;
  }

  footer {
    width: 100%;
    height: 250px;
    background: #1B242F;
  }