body {
    font-family: 'Open Sans', sans-serif;
    /*  텍스트 드레그 막기
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    */
 }
 
 a {
    color: white;
 }

 a:hover {
    text-decoration: none;
    color: white;
 }

 .btn {
    padding: 0;
 }

 .navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
 }

#home {
    position: relative;
    background-image: url(./img/homebg.jpg);                                                               
    height: 100vh;
    background-size: cover;
}

#hometext {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);                                                                   
    color: white;
    z-index: 2;
    text-align: center;
}

.homeimg-cover {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);                                                                 
    z-index:1;
}

#startbtn {
    position: absolute;
    top:80%;
    left:50%;
    transform: translate(-50%, -50%);                                                                   
    font-size:5rem;
    color: white;
    z-index: 2;
    text-align: center;
}

#viewworksbtn {
    border: 1.5px solid white;
    color: white;
    font-size: 22px;
    margin-right: -15px;
}

.material-icons{
    font-size: 18px;
}

#viewworksbtn:hover {
    background-color: #22a6b3;
    border: 1.5px solid #22a6b3;
}
#viewworksbtn span {
    position: absolute;
    top: 52%;
    left: 93%;
    transition-duration: 0.3s;
}

#viewworksbtn span:hover {
    transition-duration: 0.3s;
}

#viewworksbtn a {
    padding: 10px 40px 10px 25px;
    display: block;
}

.rotate {
    transform: rotate(90deg);
}

#navbar {
    background-color: #1B242F;
    position: fixed;
    top: -600px;
    width: 100%;
    display: block;
    transition: top 0.6s;
    border-bottom: 3px solid #22a6b3;
    z-index:1;
  }
  
  .nav-item a:hover {
      color: #22a6b3;
  }

#about-wrapper {
    width: 100%;
    text-align: center;
    height: 200px;
    border: 1px solid green;
}

 #every-title {
     font-family: 'Roboto', sans-serif;
     color: #444649;
     font-size : 40px;
     position: relative;
     padding-top: 100px;
     display: inline-block;
     border-bottom: 3px solid #444649;
 }

 #about-profile {
    height: 270px;
    width: 100%;
    border: 1px solid red;
 }

 #about-profile .about-myprofile {
    width: 250px;
    height: 270px;
    border: 1px solid blueviolet;
    float: left;
 }

 #about-profile .about-introduce {
    width: 100%;
    height: 270px;
    border: 1px solid springgreen;
    text-align: center;
}

.about-myprofile > .mypicture {
    width: 100%;
    border: 1px solid hotpink;
}

.about-myprofile > .whoami {
    font-family: 'Roboto', sans-serif;
    color: #616161;
    font-size: 25px;
    text-align: center;
}

.mypicture img {
    width: 100%;
    height: 100%;
}